*~
.RData
.Rhistory
vignettes/*.html
vignettes/packages.bib
doc
Meta
pkgdown/favicon
.DS_Store
.Rdata
.Rhistory
pkgdown/
# I believe pkgdown::build_site() errs in copying logo.svg to this 'png'
docs/package-logo.png
*~
/doc/
/Meta/
.ediprolog-temp
Rprof.out
publicity/
rsconnect/
