.shiny-split-layout {
  padding-left: 4px;
  padding-right: 4px;
}

.shiny-split-layout div {
  margin-left: 0;
  margin-right: -4px;
  padding-right: 2px;
  padding-left: 2px;
}

.shiny-options-group {
  margin: 8px;
}

fieldset {
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0;
}

fieldset legend {
    display: block;
    color: #aaa; /* text color */
    font-size: 12px;
    font-weight: bold;
    font-variant: small-caps;
    border: none;
    text-align: center;
    padding: 4px;
    width: auto;
    margin-bottom: 0;
}
